#preload {
  inset: 0;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

.navbar-toggler.collapsed .btn-close {
  display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: inline;
}

/* .nav-link.active {
  font-weight: 800 !important;
  color: var(--color-primary) !important;
  border-bottom: solid 2px var(--color-primary);
} */

.card {
  padding: 0.5rem;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#brand {
  font-weight: 800;
}

#scrollToTop {
  color: var(--color-primary);
}

#scrollToTop:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #feature {
    flex-direction: column;
  }
}